*{
    margin: 0;
}
body{
    display:block;
    min-height: 100vh;
}
nav{
    width: 70%;
    margin: 0 auto;
   /* border:1px solid black; */
    display:flex;
    align-items:center;
}
.topnav .icon{
    display:none;
}
.fa-bars{
    display:none;
}
.logo:hover{
    cursor:pointer;
}
.navigation-links{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: .75em;
    width:100%;
}
li:hover{
    cursor: pointer;
    text-decoration: underline;
}

#home-section{
    padding-top: 1em;
    background-color: #1f2937;
}
.logo{
    font-size: 2em;
    color:#f9faf8;
    padding: 0.5em;
}
.content{
    padding-top: 1em;
    padding-bottom:2em;
    display:flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
   /* border:1px solid black; */
}
h1, p ,figcaption, li {
    color:#f9faf8;
}
.content > div {
    padding: 16px;
}
.about-container{
    margin-right: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 15%;
    max-height: 40%;
    min-width: 400px;
}
.who-is{
    padding-left: 3em;
    padding-bottom: 8px;
}
.about-info{
    display:flex;
    margin: 1em;
    font-size:1.25em;
}
.about-container > #learn-more{
    justify-content: center;
}
#learn-more{
    display:flex;
    min-width: 25%;
    font-size: 1em;
    border-radius: 8px;
    margin: 0 auto;
    padding:3px;
}
#learn-more:hover{
    cursor: pointer;
}

.portrait{
    width: 100%;
    max-width: 450px;
    height: auto;
}
figcaption{
    text-align: center;
    font-size: 0.78em;
}
.section-title{
    text-align: center;
    display:block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.5em;
    color: #1f2937;
}

.section-container{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: center;
    width:70%;
    /* border:1px solid black; */
    margin: 0 auto;
    padding: 8px 8px;
}
.project-container{
    margin:15px;
}
.project-container > img{
    max-width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius:4px;
}
.project-title{
    margin-top:0.5em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#quote-section{
    width:100%;
    margin:0 auto;
    background-color: #e5e7eb;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#quote-section > .section-container{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#quote-display{
    display:flex;
    min-width: 400px;
    max-width: 50%;
    max-height: 10%;
    height: 5%;
    /* border:1px solid black; */
    font-size: 32px;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

#quote-btn{
    display:flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 5%;
    font-size: 1em;
    padding: 8px;
    border-radius: 8px;
}
#quote-btn:hover{
    cursor: pointer;
}
#contact{
    font-size: 2em;
}
#contact-section{
   /* border:1px solid black; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.contact-container{
    margin: 2.5em;
    padding: 4em;
    display:flex;
    width: 70%;
    border-radius: 4px;
    align-items: center;
    flex-flow: wrap;
    background-color: #3882f6;
    color:white;
}

.call-to-action{
    margin:1em;
}
#sign-up{
    width: 15%;
    min-width: 80px;
    height:auto;
    margin-left: 6em;
    font-size:1em;
    border-radius: .50em;
    padding:5px;
    border:1px solid white;
    background-color: #3882f6;
    color:white;
}
#sign-up:hover{
    cursor:pointer;
}
@media screen and (max-width: 600px){
    .about-container{
        margin-left:3px;
    }
    .about-info{
        text-align: center;
        font-size:1.1em;
    }
    .who-is{
        padding-left:42px;
    }
    nav{
        margin-left:5px;
        width: 90%;
    }
    .link{
        display:none;
    }
    .fa-bars{
        display:flex;
    }
}
